@charset "UTF-8";

/* -----------------------------------------------
Table of Contents (common css)
--------------------------------------------------
0. Foundation
   0-1. Base
   0-2. Config
1. Layout
   1-1. #l-wrap
   1-2. #l-header
   1-3. #l-container
        1-3-1. #l-main
        1-3-2. #l-sub
   1-4. #l-footer
   1-5. #l-navGlobal
   1-6. #l-loader
   1-7. layoutType
2. Object
   2-1. Component a.k.a Module
        2-1-1.  Wrap     [wrp-***]
        2-1-2.  Box      [box-***]
        2-1-3.  Table    [tbl-***]
        2-1-4.  Headings [hdg-lv*]
        2-1-5.  Nav      [nav-***]
        2-1-6.  List     [lst-***]
        2-1-7.  Button   [btn-***]
        2-1-8.  Anchor   [acr-***]
        2-1-9.  Text     [txt-***]
        2-1-10. Icon     [icn-***]
        2-1-11. Label    [lbl-***]
        2-1-12. Form     [frm-***]
        2-1-13. Error    [err-***]
        2-1-14. Panel    [pnl-***]
        2-1-15. Media    [mda-***]
        2-1-16. UI
   2-2. Utility
        2-2-1. Grid System [grid-***]
        2-2-2. CSS Animation [act-***]
        2-2-3. WebFont
   2-3. State [is-***]
   2-4. OverLayerConfig [z-index]

-------------------------------------------------- */

/* -----------------------------------------------
 [0. Foundation]
-------------------------------------------------- */

/* 0-1. Base
-------------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(//fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    background-color: #fff;

    color: #111;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 100%;
}

@media (min-width: 992px) {
  body {
    font-size: 1.4rem;
  }
}

a {
    box-sizing: border-box;
    word-break: break-all;

    -webkit-tap-highlight-color: rgba(189, 185, 185, 0);
    -webkit-transition: opacity .1s ease-in-out 0s;
    transition: opacity .1s ease-in-out 0s;
    color: #111;
    text-decoration: underline
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none
}
/*a:hover,
a:active {
    outline-width: 0;
    text-decoration: none;
}
a:focus {
    outline-width: 0;
    text-decoration: none;
}*/


li img,
li a,
li a img { vertical-align: bottom; }

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],input[type='ile'],input[type='submit'],input[type='reset'],input[type='button'],input[type='image'],button,textarea,select {
  -webkit-appearance: none;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: top;
}

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],input[type='file'],textarea,select {
  width: 100%;
  height: 2em;
}

input[type='image'] {
  max-width: 100%;
}

textarea {
  height: 10em;
  min-height: 2em;
  resize: vertical;
}

input[type='text'],input[type='search'],input[type='tel'],input[type='url'],input[type='email'],input[type='password'],input[type='datetime'],input[type='datetime-local'],input[type='date'],input[type='month'],input[type='week'],input[type='time'],input[type='number'],textarea,select {
  padding-left: .4em;
  background: #fff;
  border: none;
  border-radius: 0;
}

input[type='submit'],input[type='reset'],input[type='button'],button {
  border: none;
  color: #fff;
  cursor: pointer;
  background: none;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="password"],textarea,select {
  outline: none;
}

::-webkit-input-placeholder {
  color:#888;
}
::-moz-placeholder {
 color:#888;
 opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
 color:#888;
}


/* 0-2. Config
-------------------------------------------------- */
/*
 * fontawesome size
 */
/*.fa {
  display: inline-block;
  width: 1em;
}*/

/*
 * lightbox
 */
a[data-lightbox="lb"] {
  display: block;
  position: relative;
  text-decoration: none !important;
}
a[data-lightbox="lb"]:after {
  display: inline-block;
  position: absolute;
  bottom: 5px; right: 5px;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.5);
  content:"\f002";
  color: #fff;
  font-family: FontAwesome;
  text-decoration: none !important;
}


/* -----------------------------------------------
 [1. Layout]
-------------------------------------------------- */
/* 1-1. #l-wrap
-------------------------------------------------- */
#l-wrap {}

/* 1-2. #l-header
-------------------------------------------------- */
#l-header {
  position: fixed;
  width: 100%;
  background: #666;
  color: #fff;
  top: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 15px;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.74,.22,.99);
}


/* PC */
@media (min-width: 992px) {
  #l-header {
    padding: 45px;
  }
}

/* 1-3. #l-container
-------------------------------------------------- */

/* 1-3-1. #l-main
-------------------------------------------------- */
#l-main {
  margin-top: 108px;
}

@media (min-width: 992px) {
  #l-main {
    margin-top: 171px;
  }
}

/* 1-3-2. #l-sub
-------------------------------------------------- */


/* 1-4. #l-footer
-------------------------------------------------- */


/* 1-5. #l-navGlobal
-------------------------------------------------- */


/* 1-6. #l-loader
-------------------------------------------------- */


/* 1-7. layoutType
-------------------------------------------------- */
.disp-sp {
  display: none;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .disp-sp {
    display: block;
  }

  .disp-pc {
    display: none;
  }
}


/* -----------------------------------------------
 [2. Object]
-------------------------------------------------- */

/* 2-1. Component a.k.a Module
-------------------------------------------------- */
/*2-1-1.  Wrap     [wrp-***]*/
.wrp-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
}
.wrp-container--fluid {
  max-width: 100%;
  padding: 0;
}


.wrp-container, .c-block, .c-box {
  position: relative;
}

[class*="wrp-container"] + [class*="wrp-container"] {
  margin-top: 90px;
}


@media screen and (min-width: 768px) {
  [class*="wrp-container"] + [class*="wrp-container"] {
    margin-top: 120px;
  }
}


/*2-1-2.  Box      [box-***]*/
[class*="box-flex"] {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.box-flex--justifyBetween {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.box-flex--justifyAround {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.box-flex--justifyCenter {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.box-flex--alignCenter {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.box-flex--alignEnd {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.box-flex--col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box-scroll {
  height: 17em;
  background: #f5f5f5;
  padding: 15px;
  overflow-y: scroll;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .box-scroll {
    padding: 30px;
  }
}

.box-highlight {
  background: #f5f5f5;
  padding: 15px;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .box-highlight {
    padding: 30px;
  }
}

/*2-1-3.  Table    [tbl-***]*/
[class*="tbl-"] {
  width: 100%;
}
.tbl-base, .tbl-base th, .tbl-base td {
  border: 1px solid #ddd;
  font-size: 1.2rem;
}
.tbl-base.is-bdtn, .tbl-base.is-bdtn th, .tbl-base.is-bdtn td {
  border-top: none;
}
.tbl-base th, .tbl-base td {
  padding: 10px;
}
.tbl-base th {
  background: #f1f1f1;
  width: 30%;
}

.tbl-border {
  font-size: 1.3rem;
  color: #555;
}
.tbl-border th {
  padding-top: 15px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 700;
  width: 100%;
  display: block;
}
.tbl-border tr:first-child th {
  padding-top: 0;
}
.tbl-border td {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  width: 100%;
  display: block;
}
.tbl-border tr:first-child td {
  padding-top: 0;
}

@media (min-width: 768px) {
  .tbl-base th, .tbl-base td {
    padding: 15px;
    font-size: 1.3rem;
  }
  .tbl-base.is-bdtn, .tbl-base.is-bdtn th, .tbl-base.is-bdtn td {
    border-top: 1px solid #ddd;
  }

  .tbl-border {
    font-size: 1.5rem;
  }
  .tbl-border th {
    border-bottom: 1px solid #999;
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    width: 26%;
  }
  .tbl-border th::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #999;
    position: absolute;
    top: 0;
    left: 0;
  }
  .tbl-border tr:last-child th::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #999;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  .tbl-border tr:first-child th::before {
    display: none;
  }
  .tbl-border th, .tbl-border td {
    display: table-cell;
  }
  .tbl-border td {
    padding-top: 30px;
  }
}

/*2-1-4.  Headings [hdg-lv*]*/
.hdg-lv1 {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}
.hdg-lv1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 120px;
  height: 3px;
  background: #111;
}

.hdg-lv1-02 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.8;
}

.hdg-lv1-03 {
  margin-bottom: 27px;
  padding-bottom: 10px;
  font-size: 2.4rem;
  line-height: 1.8;
  text-align: center;
  border-bottom: 3px solid #111;
}

.hdg-lv1-04 {
  font-size: 1.6rem;
  margin-bottom: 60px;
}

.hdg-lv2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.hdg-lv2-02 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.hdg-lv2-02__txt {
  display: inline-block;
  color: #aaa;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .hdg-lv1 {
    font-size: 2.8rem;
    margin-bottom: 45px;
    line-height: 1;
  }
  .hdg-lv1::after {
    height: 4px;
    width: 180px;
  }

  .hdg-lv1-02 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .hdg-lv1-03 {
    font-size: 2.8rem;
    border-bottom: 2px solid #111;
  }

  .hdg-lv1-04 {
    font-size: 2.0rem;
    margin-bottom: 75px;
  }

  .hdg-lv2 {
    font-size: 2.0rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .hdg-lv2-02 {
    font-size: 1.8rem;
    line-height: 1;
  }

}


/*2-1-5.  Nav      [nav-***]*/

/*2-1-6.  List     [lst-***]*/
[class*="lst__li"] { margin-top: .5em; }
.lst-d  { padding-left: 1.5em; } .lst-d__li  { list-style-type: disc; }
.lst-c  { padding-left: 1.5em; } .lst-c__li  { list-style-type: circle; }
.lst-s  { padding-left: 1.5em; } .lst-s__li  { list-style-type: square; }
.lst-dc { padding-left: 1.5em; } .lst-dc__li { list-style-type: decimal; }
.lst-la { padding-left: 1.8em; } .lst-la__li { list-style-type: lower-alpha; }
.lst-at { padding-left: 1em;   } .lst-at__li { text-indent: -1em; }
.lst-x1 { padding-left: 1.2em; } .lst-x1__li { text-indent: -1.2em; }

.lst--in__li { display: inline; margin-right: 1em; } .lst--in__li:last-child { margin-right: 0; }
.lst--fl__li { float: left; margin-right: 1em; }

.lst--indent__li { text-indent: -1em; padding-left: 1em; }

/*2-1-7.  Button   [btn-***]*/
.btn-base {}


/*2-1-8.  Anchor   [acr-***]*/

/*2-1-9.  Text     [txt-***]*/

/*2-1-10. Icon     [icn-***]*/

/*2-1-11. Label    [lbl-***]*/

/*2-1-12. Form     [frm-***]*/
.frm-base {}

.frm-headTxt {
  margin-bottom: 5px;
  color: #999;
}

.frm-base th, .frm-base td {
  width: 100%;
  float: left;
  font-size: 1.3rem;
}

.frm-base th {
  font-weight: 700;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.frm-base td {
  padding-top: 8px;
  padding-bottom: 20px;
}
.frm-base tr:last-child td {
  border-bottom: 1px solid #ddd;
}

.frm-base td input[type="text"], .frm-base td input[type="tel"], .frm-base td input[type="email"], .frm-base textarea, .frm-base select {
  padding: 0 10px;
  width: 100%;
  height: 31px;
  font-size: 1.6rem;
  line-height: 31px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.frm-base textarea {
  height: 120px;
}

.frm-base td input[type="text"].zip {
  width: 210px;
}

.frm-base label {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .frm-base th, .frm-base td {
    float: none;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .frm-base th {
    width: 30%;
  }

  .frm-base td {
    width: 70%;
  }

  .frm-base td input[type="text"], .frm-base td input[type="tel"], .frm-base td input[type="email"], .frm-base textarea, .frm-base select {
    font-size: 1.3rem;
  }
}

/*2-1-14. Panel    [pnl-***]*/
.pnl-base {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
}

/*2-1-15. Media    [mda-***]*/

/*2-1-16. Card     [crd-***]*/
.crd-wrap {
  margin-bottom: -3.0rem;
}

.crd {
  position: relative;
  margin-bottom: 3.0rem;
  overflow: hidden;
}

.crd__img {
  position: relative;
  overflow: hidden;
}
.crd__img::before {
  content: "";
  display: block;
  /*padding-top: 40%;*/    /* 5:2 */
  /*padding-top: 50%;*/    /* 2:1 */
  padding-top: 56.25%; /* 16:9; */
  /*padding-top: 66.66667%;*/    /* 3:2 */
  /*padding-top: 75%;*/    /* 4:3 */
  /*padding-top: 200%;*/   /* 1:2 */
}

.crd__imgInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.crd__label--img {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  font-weight: 700;
  line-height: 1;
  z-index: 100;
  padding: 1rem 3rem;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .crd__label--img {
    font-size: 1.2rem;
    padding: 7px 10px;
  }
}

.crd__img img {
  max-height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
}

.crd__content {
  margin-top: 1rem;
}

.crd__title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .crd__title {
    font-size: calc(1.4rem + ((1vw - 7.68px) * 0.9259));
  }
}
@media (min-width: 1200px) {
  .crd__title {
    font-size: 1.8rem;
  }
}

.crd__txt {
  font-size: 1.4rem;
}

.crd__subTitle {
  font-size: 1.2rem;
  color: #666;
}


/* 2-2. Utility
-------------------------------------------------- */
/* 2-2-1. Grid System [col-***] */
.col-Wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.col-Wrap.no-gutter {
  margin: 0;
}
.col-Wrap.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.col-Wrap + .col-Wrap {
  margin-top: 30px;
}


/* スマホ */
.col-xs-1 { width: 8.33333%; }
.col-xs-2 { width: 16.66667%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33333%; }
.col-xs-5 { width: 41.66667%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33333%; }
.col-xs-8 { width: 66.66667%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33333%; }
.col-xs-11 { width: 91.66667%; }
.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: auto; }
.col-xs-pull-1 { right: 8.33333%; }
.col-xs-pull-2 { right: 16.66667%; }
.col-xs-pull-3 { right: 25%; }
.col-xs-pull-4 { right: 33.33333%; }
.col-xs-pull-5 { right: 41.66667%; }
.col-xs-pull-6 { right: 50%; }
.col-xs-pull-7 { right: 58.33333%; }
.col-xs-pull-8 { right: 66.66667%; }
.col-xs-pull-9 { right: 75%; }
.col-xs-pull-10 { right: 83.33333%; }
.col-xs-pull-11 { right: 91.66667%; }
.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: auto; }
.col-xs-push-1 { left: 8.33333%; }
.col-xs-push-2 { left: 16.66667%; }
.col-xs-push-3 { left: 25%; }
.col-xs-push-4 { left: 33.33333%; }
.col-xs-push-5 { left: 41.66667%; }
.col-xs-push-6 { left: 50%; }
.col-xs-push-7 { left: 58.33333%; }
.col-xs-push-8 { left: 66.66667%; }
.col-xs-push-9 { left: 75%; }
.col-xs-push-10 { left: 83.33333%; }
.col-xs-push-11 { left: 91.66667%; }
.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0; }
.col-xs-offset-1 { margin-left: 8.33333%; }
.col-xs-offset-2 { margin-left: 16.66667%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-4 { margin-left: 33.33333%; }
.col-xs-offset-5 { margin-left: 41.66667%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-7 { margin-left: 58.33333%; }
.col-xs-offset-8 { margin-left: 66.66667%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-10 { margin-left: 83.33333%; }
.col-xs-offset-11 { margin-left: 91.66667%; }
.col-xs-offset-12 { margin-left: 100%; }


/* タブレット */
@media (min-width: 768px) {
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }

  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }

  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }

  .col-sm-offset-0 { margin-left: 0; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; }
}

/* PC */
@media (min-width: 992px) {
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }

  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }

  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }

  .col-md-offset-0 { margin-left: 0; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; }
}

/* PC大画面（1200px以上） */
@media (min-width: 1200px) {
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }

  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-12 { right: 100%; }

  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-12 { left: 100%; }

  .col-lg-offset-0 { margin-left: 0; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-12 { margin-left: 100%; }
}


/* 2-2-2. CSS Animation [act-***] */
/* 画面外にいる状態 */
[class*="act-fadeIn"] {
  opacity: 0;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  will-change: transform;
}
.act-fadeIn.fadeInLeft {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}
.act-fadeIn.fadeInRight {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

/* 画面内に入った状態 */
.act-fadeIn.is-scrollin {
  opacity: 1;
  transform: none;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.act-fadeDelay01 { transition-delay: .2s!important; }
.act-fadeDelay02 { transition-delay: .4s!important; }
.act-fadeDelay03 { transition-delay: .6s!important; }
.act-fadeDelay04 { transition-delay: .8s!important; }
.act-fadeDelay05 { transition-delay: 1.0s!important; }
.act-fadeDelay06 { transition-delay: 1.2s!important; }
.act-fadeDelay07 { transition-delay: 1.4s!important; }
.act-fadeDelay08 { transition-delay: 1.6s!important; }
.act-fadeDelay09 { transition-delay: 1.8s!important; }
.act-fadeDelay10 { transition-delay: 2.0s!important; }

/* 2-2-3. WebFont */

/* 2-3. State [is-***]
-------------------------------------------------- */


/* 2-4. OverLayerConfig [z-index]
-------------------------------------------------- */
